<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Perspective\ExternalConnection\Api\Data\ExternalEntityInterface"
                type="Perspective\ExternalConnection\Model\ExternalEntity"/>
    <preference for="Perspective\ExternalConnection\Api\Data\ExternalEntitySearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="Perspective\ExternalConnection\Api\ExternalEntityRepositoryInterface"
                type="Perspective\ExternalConnection\Model\ExternalEntityRepository"/>

    <preference for="Perspective\ExternalConnection\Api\Data\AnotherEntityInterface"
                type="Perspective\ExternalConnection\Model\AnotherEntity"/>
    <preference for="Perspective\ExternalConnection\Api\Data\AnotherEntitySearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="Perspective\ExternalConnection\Api\AnotherEntityRepositoryInterface"
                type="Perspective\ExternalConnection\Model\AnotherEntityRepository"/>

    <!-- 1. If you need just a simple connection - Adjust your resource model -->
    <type name="Perspective\ExternalConnection\Model\ResourceModel\ExternalEntity">
        <arguments>
            <argument name="connectionName" xsi:type="string">external_db1</argument>
        </arguments>
    </type>

    <!-- 2. If you need several external collection I suggest to use Factory Method -->
    <!-- 2.1 Prepare ExternalEntity -->
    <virtualType name="\Db1\ResourceModel\ExternalEntity"
                 type="Perspective\ExternalConnection\Model\ResourceModel\ExternalEntity">
        <arguments>
            <argument name="connectionName" xsi:type="string">external_db1</argument>
        </arguments>
    </virtualType>
    <virtualType name="\Db1\Api\ExternalEntityRepository"
                 type="Perspective\ExternalConnection\Model\ExternalEntityRepository">
        <arguments>
            <argument name="resource" xsi:type="object">\Db1\ResourceModel\ExternalEntity</argument>
        </arguments>
    </virtualType>

    <virtualType name="\Db2\ResourceModel\ExternalEntity"
                 type="Perspective\ExternalConnection\Model\ResourceModel\ExternalEntity">
        <arguments>
            <argument name="connectionName" xsi:type="string">external_db2</argument>
        </arguments>
    </virtualType>
    <virtualType name="\Db2\Api\ExternalEntityRepository"
                 type="Perspective\ExternalConnection\Model\ExternalEntityRepository">
        <arguments>
            <argument name="resource" xsi:type="object">\Db2\ResourceModel\ExternalEntity</argument>
        </arguments>
    </virtualType>

    <!-- 2.2 Prepare AnotherEntity -->
    <virtualType name="\Db1\ResourceModel\AnotherEntity"
                 type="Perspective\ExternalConnection\Model\ResourceModel\AnotherEntity">
        <arguments>
            <argument name="connectionName" xsi:type="string">external_db1</argument>
        </arguments>
    </virtualType>
    <virtualType name="\Db1\Api\AnotherEntityRepository"
                 type="Perspective\ExternalConnection\Model\AnotherEntityRepository">
        <arguments>
            <argument name="resource" xsi:type="object">\Db1\ResourceModel\AnotherEntity</argument>
        </arguments>
    </virtualType>

    <virtualType name="\Db2\ResourceModel\AnotherEntity"
                 type="Perspective\ExternalConnection\Model\ResourceModel\AnotherEntity">
        <arguments>
            <argument name="connectionName" xsi:type="string">external_db2</argument>
        </arguments>
    </virtualType>
    <virtualType name="\Db2\Api\AnotherEntityRepository"
                 type="Perspective\ExternalConnection\Model\AnotherEntityRepository">
        <arguments>
            <argument name="resource" xsi:type="object">\Db2\ResourceModel\AnotherEntity</argument>
        </arguments>
    </virtualType>

    <!-- 2.3 Prepare repository factories -->
    <type name="Perspective\ExternalConnection\Model\ExternalEntityRepositoryFactory">
        <arguments>
            <argument name="instanceNames" xsi:type="array">
                <item name="db1" xsi:type="string">\Db1\Api\ExternalEntityRepository</item>
                <item name="db2" xsi:type="string">\Db2\Api\ExternalEntityRepository</item>
            </argument>
        </arguments>
    </type>

    <type name="Perspective\ExternalConnection\Model\AnotherEntityRepositoryFactory">
        <arguments>
            <argument name="instanceNames" xsi:type="array">
                <item name="db1" xsi:type="string">\Db1\Api\AnotherEntityRepository</item>
                <item name="db2" xsi:type="string">\Db2\Api\AnotherEntityRepository</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="perspective_externalconnection_external_connection" xsi:type="object">
                    Perspective\ExternalConnection\Console\Command\ExternalConnection
                </item>
            </argument>
        </arguments>
    </type>
</config>
